a {
    border-radius: 15px;
    border: 3px solid rgb(109, 26, 40);
    background-color: rgb(190, 101, 116);
    font-weight: bold;
    list-style: none;
    padding: 10px 0px 10px 20px;
    width: 170px;
    display: block;
}

li {
    margin-bottom: 2px;
    list-style: none;
}

.mio:after {
    color: rgb(0, 0, 0);
    font-family: flechita;
}

@font-face {
    font-family: flechita;
    src: url(./Arrows_tfb.ttf);
}

.mio {
    position: relative;
}

.mio li {
    margin-top: 3px;
}

a {
    text-decoration: none;
    color: black;
}

.mio>a:after {
    font-family: flechita;
    content: " a";
}

.mio ul {
    position: absolute;
    padding: 0;
    top: -2px;
    left: 198px;
    opacity: 0;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s;
}

.mio:hover .tuyo {
    opacity: 1;
    max-height: 800px;
}

.tuyo a {
    background-color: rgb(219, 163, 172);
    width: 98px;
}

li:hover>a {
    background-color: palevioletred;
    color: brown;
}