body {
    background-color: rgb(176, 206, 203);
}

h1 {
    text-align: center;
}

.text {
    border: 1px solid rgb(165, 89, 102);
    background-color: pink;
    text-align: center;
    padding: 20px;
}

.boxes {
    position: relative;
    margin-top: 20px;
    height: 400px;
}

.box1 {
    width: 50%;
    height: 200px;
    border: 1px solid yellow;
    background-color: rgb(240, 240, 113);
    position: absolute;
    top: 0;
    left: 0;

}

.box2 {
    width: 50%;
    height: 200px;
    border: 1px solid blue;
    background-color: rgb(58, 58, 155);
    position: absolute;
    top: 0;
    right: 0;
}

.box3 {
    width: 50%;
    height: 200px;
    border: 1px solid green;
    background-color: rgb(93, 236, 93);
    position: absolute;
    bottom: 0;
    left: 0
}

.box4 {
    width: 50%;
    height: 200px;
    border: 1px solid purple;
    background-color: rgb(190, 77, 190);
    position: absolute;
    bottom: 0;
    right: 0;
}

.box5 {
    width: 50%;
    height: 200px;
    border: 1px solid red;
    background-color: rgb(197, 85, 85);
    position: absolute;
    top: 100px;
    left: 25%;
}

.hola:hover {
    z-index: 1;
}