.container {
    margin: 50px;
    height: 30px;
    width: 350px;
    border: 1px solid black;
}

.img {
    background-image: url(./corazon-mask.png);
    animation: move 3s forwards;
    height: 100%;
    background-color: red;
    background-size: auto 100%;
}

@keyframes move {
    from {
        width: 0%;
    }

    to {
        width: 77%;
    }
}