.negro {
    background-color: black;
    width: 225px;
    height: 225px;
    position: relative;


}

p {
    position: absolute;
    top: 85px;
    left: 90px;
    font-style: italic;
    font-weight: bold;
    display: none;
}

img {
    position: absolute;
    transition: 2s;
}

img:hover {
    opacity: 0.5;
}

.negro:hover p {
    display: block;

}